{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
    <link rel="stylesheet" href="{% static 'blogs/detailPost.css' %}">
</head>
<body>
    {% include 'header.html' %}
    <h1>Post</h1>
    <div class="container">
        <div class="post">
            <a href="{% url 'detailPost' post.pk %}">
                <h3>{{ post.title }}</h3>
            </a>
            <p>{{ post.content }}</p>
            <small>Posted on {{ post.date_posted }} by {{ post.user.username }}</small>
            {% if post.user.username == user.username %}
                <a href="{% url 'editPost' post.pk %}">
                    Edit post
                </a>
                <a href="{% url 'deletePost' post.pk %}">
                    Delete post
                </a>
            {% endif %}
        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>