{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Blog - Home</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    {% include 'header.html' %}
    <div class="container">
        <h2>Welcome to Django Blog</h2>
        <a href="{% url 'blog' %}">
            <h1>Your Blogs</h1>
        </a>
    </div>

    <div class="posts-container">
        {% for post in posts %}
            <div class="post" data-url="{% url 'detailPost' post.pk %}">
                <h3>{{ post.title }}</h3>
                <p>{{ post.content }}</p>
                <small>Posted on {{ post.date_posted }} by {{ post.user.username }}</small>
            </div>
        {% empty %}
            <p class="no-posts">There is post yet :')</p>
        {% endfor %}
    </div>

    {% include 'footer.html' %}
     <script src="{% static 'js/home.js' %}"></script>
</body>
</html>